	<div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">PxPrfct <i class="fa fa-wrench"></i> homeplate</h1>
			<p>
               <a href="https://github.com/murilloric/pxprfct" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>

    <div class="content-wrapper">

		<div class="ribbon l-box-lrg pure-g">
		    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    	<a href="https://github.com/murilloric/pxprfct">
		        	<img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
		        </a>
		    </div>
		    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

		        <h2 class="content-head content-head-ribbon">How goes it!</h2>

		        <p>
		            Welcome to HomePlate. If you wanna hit home runs you best start here. The pxprfct repo will give you a solid foundation to start building a web application.  This basic app comes with pures.css for all your basic styling needs and angularjs to power your web application.  To get started Download the repo and checkout readme.  

		            <br/>Cheers - Ric Murillo
		        </p>
		    </div>
		</div>

	</div>